.myNavbar{
	color: white;
	opacity: 1;
}

body{
	margin: 0px 0px 0px 0px;
}

.navbar{
    box-shadow: 0px 2px 0px #888888;	
	opacity: .9;
	border-bottom: none;
}


/*Home Specific CSS*/
#homeJumbo{
	height: 100vh;
	width: 100vw;
	margin: 0px 0px 0px 0px;
	overflow: hidden;	
  	-webkit-filter: sepia(1) blur(5px);
  	filter: sepia(1) blur(5px);
  	-moz-filter: sepia(1) blur(5px);
  	-o-filter: sepia(1) blur(5px);
 	-ms-filter: sepia(1) blur(5px);
}

#piccard{
	height: 110vh;
	width: 110vw;
    margin: -15px -15px -15px -15px;	
}

#namecard{
	position:  absolute;
	top: 75vh;
	left: 25vw;
	width: 50vw;
	text-align: center;
}

#APS{
	color: lightgray;
	margin-bottom: 0px;
  	font: 400 25px/1.3 'Arizonia', Helvetica, sans-serif;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

#name{
	margin-top: 0px;
	margin-bottom: 0px;
	color: lightgray;
	font-size: 100px;
}

#EducationAndResearchJumbo{
	margin: 0px 0px 0px 0px;
	overflow: hidden;	
  	-webkit-filter: blur(5px);
  	filter: blur(5px);
  	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
 	-ms-filter: blur(5px);
}

#Education{
	width: 80vw;
}

#EdAndReCards{
	position: absolute;
	top: 110vh;
	left: 5vw;
}

#EARItem{
  	font: 400 25px/1.3 'Oleo Script', Helvetica, sans-serif;
  	color: white;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

#RComp{
  	font: 400 15px/1.3 'Oleo Script', Helvetica, sans-serif;
  	color: white;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

#EDisc{
	padding-top: 5vh;
	padding-left: 9.5vw;
	color: white;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

#EARDisc{
	color: white;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}